<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.hackerrank_username %}
          <li>
            {% include icon-hackerrank.html username=site.hackerrank_username %}
          </li>
          {% endif %}

          {% if site.stackoverflow_username %}
          <li>
            {% include icon-stackoverflow.html username=site.stackoverflow_username id=site.stackoverflow_id %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {% if page.lang == "pl" %}
          <p>{{ site.description_pl | escape }}</p>
          <p><a href="{{site.url}}/en">Przejdź do angielskiej wersji językowej</a></p>
        {% endif %}

        {% if page.lang == "en" %}
          <p>{{ site.description_en | escape }}</p>
          <p><a href="{{site.url}}/pl">Go to polish version language</a></p>
        {% endif %}

        {% if page.lang == "none" %}
          <p>{{ site.description_pl | escape }}</p>
        {% endif %}

      </div>
    </div>
  </div>

</footer>
