---
layout: default
---

<div class="home">

  {% if page.lang == "en" %}
  <h1 class="page-heading">Posts</h1>
  {% endif %}

  {% if page.lang == "pl" %}
  <h1 class="page-heading">Posty</h1>
  {% endif %}

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if page.lang == post.lang %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h4>
        <p>{{post.excerpt |  truncatewords:75}}</p>
        <hr>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
